.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #1e1e1e;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.soulafa-hajhamad {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 104px;
  top: 22px;
  width: 518px;
  height: 48px;
}
.home {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 1087px;
  top: 7px;
  width: 56px;
}
.home-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.home-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1272px;
  top: 27px;
  width: 76px;
}
.budt-748-industry-practicum {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 104px;
  top: 208px;
  width: 933px;
}
.budt-748-is-the-capstone-course-for-ms-information-system-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 104px;
  top: 286px;
  width: 964px;
}
.soulafa-hajhamad-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 383px;
  top: 968px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1177px;
  top: 27px;
  width: 57px;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 94px;
  top: 455px;
}
.semester-details-fall-2025-professor-paul-t-shapiro-teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 60px;
  font-weight: 400;
  position: relative;
}
.semester-details-fall-2025-professor-paul-t-shapiro-teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.semester-details-fall-2025-professor-paul-t-shapiro-teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
